<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895590507515-1quvgve9lkb2k4hp8c1ugfoa3a0catro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895590507515-1quvgve9lkb2k4hp8c1ugfoa3a0catro</string>
	<key>API_KEY</key>
	<string>AIzaSyCw-U-r85tKr8lsReIK7u3uv3NlCldW_hI</string>
	<key>GCM_SENDER_ID</key>
	<string>895590507515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-587fc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-587fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895590507515:ios:ec82b67a50173c485f615e</string>
</dict>
</plist>